Repository The-Ronin-Project/interop-publishers: changes, and which Codecov flags are due for each by the changed paths.
All: aidbox, aidbox-tc, publishers, datalake, kafka

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      aidbox:
        target: auto
        threshold: 1%
        flags:
          - aidbox
      aidbox-testcontainer:
        target: auto
        threshold: 1%
        flags:
          - aidbox-tc
      publishers:
        target: auto
        threshold: 1%
        flags:
          - publishers
      datalake:
        target: auto
        threshold: 1%
        flags:
          - datalake
      kafka:
        target: auto
        threshold: 1%
        flags:
          - kafka


    patch:
      aidbox:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - aidbox
      aidbox-testcontainer:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - aidbox-tc
      publishers:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - publishers
      datalake:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - datalake
      kafka:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - kafka

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null
  show_carryforward_flags: false

flags:
  aidbox:
    paths:
      - interop-aidbox/
    carryforward: true
  aidbox-tc:
    paths:
      - interop-aidbox-testcontainer/
    carryforward: true
  publishers:
    paths:
      - interop-publishers/
    carryforward: true
  datalake:
    paths:
      - interop-datalake/
    carryforward: true
  kafka:
    paths:
      - interop-kafka/
    carryforward: true

INT-1396: Add ChangeDetectionService for Aidbox (#185)
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/change/ChangeDetectionService.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/change/ChangeDetectionServiceTest.kt
Due: aidbox

[INT-1189] Lower some log levels (#186)
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AidboxAuthenticationBroker.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AidboxAuthenticationService.kt
Due: aidbox

[INT-1359] Add more resources to publish / ad-hoc topics (#191)
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/spring/LoadSpringConfig.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/spring/PublishSpringConfig.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/spring/TopicConfigTest.kt
Due: kafka

[INT-1423] Attempt some retry in OCI Client (#195)
  gradle/libs.versions.toml
  interop-datalake/interop-datalake.gradle.kts
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/oci/client/OCIClient.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/DatalakePublishServiceTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/oci/client/OCIClientTest.kt
Due: datalake

INT-1411 - Update PULL_REQUEST_TEMPLATE.md (#196)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update GHAs for move to main (#200)
  .github/workflows/aidbox_integration_test.yml
  .github/workflows/aidbox_test.yml
  .github/workflows/aidbox_testcontainer_test.yml
  .github/workflows/create_release.yml
  .github/workflows/datalake_integration_test.yml
  .github/workflows/datalake_test.yml
  .github/workflows/lint.yml
  .github/workflows/publishers_test.yml
  .github/workflows/snapshot_publish.yml
  .github/workflows/upgrade_dependencies.yml
Due: none

INT-1447: Simplify release options (#201)
  .github/workflows/create_release.yml
  .github/workflows/mark_next_release.yml
Due: none

[INT-1445] Allow Kafka Consumer Group ID override (#202)
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/KafkaLoadService.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/KafkaPublishService.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/client/KafkaClient.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/client/KafkaUtils.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/spring/KafkaConfig.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/KafkaLoadServiceTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/KafkaPublishServiceTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/client/KafkaClientTest.kt
Due: kafka

Use new pollOnce function from ronin-kafka (#203)
  gradle/libs.versions.toml
  interop-kafka/src/it/kotlin/com/projectronin/interop/kafka/KafkaPublishServiceIT.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/KafkaLoadService.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/KafkaPublishService.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/client/KafkaClient.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/client/KafkaUtils.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/client/KafkaClientTest.kt
Due: kafka

Cleanup (#209)
  README.md
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/DatalakePublishService.kt
Due: datalake

[INT-1159] Allow Kafka to Publish to Encounters (#212)
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/spring/LoadSpringConfig.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/spring/PublishSpringConfig.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/spring/TopicConfigTest.kt
Due: kafka

Allow topic deletion (#217)
  interop-kafka/src/it/kotlin/com/projectronin/interop/kafka/BaseKafkaIT.kt
  interop-kafka/src/it/kotlin/com/projectronin/interop/kafka/KafkaPublishServiceIT.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/KafkaLoadService.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/KafkaPublishService.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/client/KafkaClient.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/client/KafkaUtils.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/spring/AdminSpringConfig.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/KafkaLoadServiceTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/KafkaPublishServiceTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/client/KafkaClientTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/spring/KafkaSpringConfigTest.kt
Due: kafka

try to fix mirth IT (#222)
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/client/KafkaClient.kt
Due: kafka

Revert "try to fix mirth IT (#222)" (#223)
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/client/KafkaClient.kt
Due: kafka

enhancements (#224)
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/client/KafkaClient.kt
Due: kafka

use OCI topics (#227)
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/spring/LoadSpringConfig.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/spring/PublishSpringConfig.kt
Due: kafka

fix system name in resource string (#228)
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/KafkaLoadService.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/KafkaPublishService.kt
Due: kafka

Upgrade gradle (#230)
  gradle/wrapper/gradle-wrapper.properties
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/PatientService.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/graphql/GraphQLError.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/graphql/GraphQLErrorLocation.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/graphql/GraphQLPostRequest.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/graphql/GraphQLResponse.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/model/AidboxAddress.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/model/AidboxContactPoint.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/model/AidboxHumanName.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/model/AidboxIdentifier.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/model/AidboxPatient.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/model/AidboxPatientList.kt
  interop-aidbox/interop-aidbox.gradle.kts
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/AidboxPublishServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PatientServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
  interop-datalake/interop-datalake.gradle.kts
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/DatalakePublishServiceTest.kt
  interop-kafka/interop-kafka.gradle.kts
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/client/KafkaClient.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/model/RetrieveTopic.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/spring/KafkaSpringConfigTest.kt
  settings.gradle.kts
Due: aidbox, aidbox-tc, datalake, kafka

fix system name in resource string (#235)
  interop-kafka/src/it/kotlin/com/projectronin/interop/kafka/KafkaPublishServiceIT.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/client/KafkaClient.kt
Due: kafka

fix unit tests? (#238)
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/client/KafkaClientTest.kt
Due: kafka

INT-1204: remove special characters from resourceType (#237)
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/KafkaPublishService.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/KafkaPublishServiceTest.kt
Due: kafka

Bug fix unit tests (#239)
  .github/workflows/kafka_test.yml
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/client/KafkaClientTest.kt
Due: kafka

[INT-1568] Make topic names more modular (#231)
  interop-kafka/src/it/kotlin/com/projectronin/interop/kafka/KafkaPublishServiceIT.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/spring/KafkaConfig.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/spring/LoadSpringConfig.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/spring/PublishSpringConfig.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/spring/TopicConfigTest.kt
Due: kafka

INT-1204: oops... remove special characters from resourceType for load service (#240)
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/KafkaLoadService.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/KafkaLoadServiceTest.kt
Due: kafka

INT-1591 - put registry filename in an environment setting (#236)
  gradle/libs.versions.toml
  interop-datalake/src/it/kotlin/com/projectronin/interop/datalake/DatalakePublishServiceIT.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/oci/client/OCIClient.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/oci/client/OCIClientTest.kt
Due: datalake

INT-1553 - DataNormalizationRegistry schema is at v2 (#242)
  interop-datalake/src/it/kotlin/com/projectronin/interop/datalake/DatalakePublishServiceIT.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/oci/client/OCIClient.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/oci/client/OCIClientTest.kt
Due: datalake

INT-1579: Remove unused code (#250)
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/change/ChangeDetectionService.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/change/ChangeDetectionServiceTest.kt
Due: aidbox

INT-1582: Add new actions needed for EHR Data Authority (#253)
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/model/KafkaAction.kt
Due: kafka

[Int 1648] add oci write capabilities to the proof of concept library (#255)
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/oci/client/OCIClient.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/oci/client/OCIClientTest.kt
Due: datalake

[INT-1584] Add search to Aidbox Client via rest API (#256)
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/AidboxClientIntegrationTest.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
Due: aidbox

INT-1584 - doc update (#261)
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
Due: aidbox

[INT-1351] Kafka Publisher Work for Resource Requests (#265)
  gradle/libs.versions.toml
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/KafkaRequestService.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/model/KafkaAction.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/model/RequestTopic.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/spring/RequestSpringConfig.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/KafkaRequestServiceTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/spring/TopicConfigTest.kt
Due: kafka

INT-1685: Add raw data publish function (#270)
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/DatalakePublishService.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/oci/client/OCIClient.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/DatalakePublishServiceTest.kt
Due: datalake

INT-1692: Support for Metadata object (#269)
  gradle/libs.versions.toml
  interop-kafka/src/it/kotlin/com/projectronin/interop/kafka/KafkaPublishServiceIT.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/KafkaLoadService.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/KafkaPublishService.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/KafkaRequestService.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/model/LoadTopic.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/model/PublishTopic.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/model/RetrieveTopic.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/spring/LoadSpringConfig.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/spring/PublishSpringConfig.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/KafkaLoadServiceTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/KafkaPublishServiceTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/KafkaRequestServiceTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/client/KafkaClientTest.kt
  interop-publishers/interop-publishers.gradle.kts
  interop-publishers/src/main/kotlin/com/projectronin/interop/publishers/PublishService.kt
  interop-publishers/src/test/kotlin/com/projectronin/interop/publishers/PublishServiceTest.kt
Due: publishers, kafka

[INT-1762] Add timeouts to Datalake Publishers (#278)
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/DatalakePublishService.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/DatalakePublishServiceTest.kt
Due: datalake

INT-1808: Add support for deletes on Aidbox (#290)
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/AidboxClientIntegrationTest.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
Due: aidbox

Fix typo (#292)
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AidboxAuthenticationService.kt
Due: aidbox

Doc update (#302)
  README.md
  gradle/libs.versions.toml
Due: none

Move to single-project repo (#303)
  .github/workflows/test.yml
  README.md
  build.gradle.kts
  codecov.yml
  gradle/libs.versions.toml
  interop-publishers/README.md
  interop-publishers/interop-publishers.gradle.kts
  settings.gradle.kts
  src/main/kotlin/com/projectronin/interop/publishers/PublishService.kt
  src/main/kotlin/com/projectronin/interop/publishers/exception/PublishException.kt
  src/main/kotlin/com/projectronin/interop/publishers/spring/PublishersSpringConfig.kt
  src/test/kotlin/com/projectronin/interop/publishers/PublishServiceTest.kt
  src/test/kotlin/com/projectronin/interop/publishers/spring/PublishersSpringConfigTest.kt
Due: publishers
