Repository The-Ronin-Project/interop-publishers: changes, and which Codecov flags are due for each by the changed paths.
All: aidbox, aidbox-tc

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      aidbox:
        target: auto
        threshold: 1%
        flags:
          - aidbox
      aidbox-testcontainer:
        target: auto
        threshold: 1%
        flags:
          - aidbox-tc

    patch:
      aidbox:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - aidbox
      aidbox-testcontainer:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - aidbox-tc

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null
  show_carryforward_flags: false

flags:
  aidbox:
    paths:
      - interop-aidbox/
    carryforward: true
  aidbox-tc:
    paths:
      - interop-aidbox-testcontainer/
    carryforward: true

Lower to released fhir since no source changes (#116)
  gradle/libs.versions.toml
Due: none

INT-1152: Batch resource publication to prevent stream resets (#118)
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PublishServiceIntegrationTest.kt
  interop-aidbox/src/it/resources/logback-test.xml
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PublishService.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PublishServiceTest.kt
Due: aidbox

INT-1074: Decode base64 value (#119)
  interop-datalake/src/it/kotlin/com/projectronin/interop/datalake/DatalakePublishServiceIT.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/oci/auth/OCICredentials.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/oci/auth/OCICredentialsTest.kt
Due: none

INT-1153: Upgrade gradle plugins (#122)
  settings.gradle.kts
Due: none

INT-1169: make OCI Client more spring-friendly (#121)
  codecov.yml
  interop-datalake/src/it/kotlin/com/projectronin/interop/datalake/DatalakePublishServiceIT.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/DatalakePublishService.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/oci/auth/OCIConfiguration.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/oci/client/OCIClient.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/oci/auth/OCIConfigurationTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/oci/auth/OCICredentialsTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/oci/client/OCIClientTest.kt
Due: none

INT-1153: Upgrade to gradle plugins 2.1.4 (#123)
  settings.gradle.kts
Due: none

INT-1183: Add paging support for practitioner by tenant load (#125)
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PractitionerServiceIntegrationTest.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/resources/graphql/PractitionerListQuery.graphql
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
Due: aidbox

INT-1169: change OCI client again (#124)
  interop-datalake/src/it/kotlin/com/projectronin/interop/datalake/DatalakePublishServiceIT.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/DatalakePublishService.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/oci/auth/OCIConfiguration.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/oci/client/OCIClient.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/DatalakePublishServiceTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/oci/auth/OCIConfigurationTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/oci/client/OCIClientTest.kt
Due: none

Use hardcoded string queries instead of resource files (#127)
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/LocationService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PatientService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/utils/GraphQLQueries.kt
  interop-aidbox/src/main/resources/graphql/AidboxLimitedPractitionerIDsQuery.graphql
  interop-aidbox/src/main/resources/graphql/AidboxLocationFHIRIDsQuery.graphql
  interop-aidbox/src/main/resources/graphql/AidboxPatientFHIRIDsQuery.graphql
  interop-aidbox/src/main/resources/graphql/AidboxPractitionerFHIRIDsQuery.graphql
  interop-aidbox/src/main/resources/graphql/PatientListQuery.graphql
  interop-aidbox/src/main/resources/graphql/PractitionerListQuery.graphql
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/LocationServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PatientServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
Due: aidbox

[INT-1209] (#131) Adding @Trace to public calls
  gradle/libs.versions.toml
  interop-aidbox/interop-aidbox.gradle.kts
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/ConceptMapService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/LocationService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PatientService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PublishService.kt
Due: aidbox

INT-1147: Add Kafka Publishers support (#132)
  .github/workflows/kafka_integration_test.yml
  .github/workflows/kafka_test.yml
  codecov.yml
  gradle/libs.versions.toml
  interop-kafka/README.md
  interop-kafka/interop-kafka.gradle.kts
  interop-kafka/src/it/kotlin/com/projectronin/interop/kafka/BaseKafkaIT.kt
  interop-kafka/src/it/kotlin/com/projectronin/interop/kafka/KafkaPublishServiceIT.kt
  interop-kafka/src/it/kotlin/com/projectronin/interop/kafka/event/AppointmentEvent.kt
  interop-kafka/src/it/kotlin/com/projectronin/interop/kafka/event/PatientEvent.kt
  interop-kafka/src/it/resources/docker-compose-kafka.yaml
  interop-kafka/src/it/resources/logback-test.xml
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/KafkaPublishService.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/client/KafkaClient.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/client/ProducerUtils.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/config/KafkaConfig.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/config/SpringConfig.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/model/DataTrigger.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/model/KafkaAction.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/model/KafkaEvent.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/model/KafkaTopic.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/model/PublishResponse.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/model/PublishTopic.kt
  interop-kafka/src/main/resources/application.properties
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/KafkaPublishServiceTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/client/KafkaClientTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/client/ProducerUtilsTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/client/config/SpringConfigTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/model/KafkaEventTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/model/KafkaTopicTest.kt
  settings.gradle.kts
Due: none

INT-1182: new location function for getting all other Identifiers (#133)
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/LocationServiceIntegrationTest.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/LocationService.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/LocationServiceTest.kt
Due: aidbox

INT-1239: Repo maintenance (#135)
  .github/workflows/snapshot_publish.yml
  .github/workflows/upgrade_dependencies.yml
  CODEOWNERS
  interop-kafka/src/it/kotlin/com/projectronin/interop/kafka/BaseKafkaIT.kt
  interop-kafka/src/it/kotlin/com/projectronin/interop/kafka/KafkaPublishServiceIT.kt
Due: none

INT-1121 - Absorb effects of INT-1124 in interop-publishers (#140)
  gradle/libs.versions.toml
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PublishServiceIntegrationTest.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PatientService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/LocationServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PatientServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtilsTest.kt
  interop-datalake/src/it/kotlin/com/projectronin/interop/datalake/DatalakePublishServiceIT.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/KafkaPublishService.kt
Due: aidbox

INT-1221: Upgrade to interop-gradle 2.2.0 (#141)
  settings.gradle.kts
Due: none

[INT-1244] Upgrade to OCI 3 (#146)
  gradle/libs.versions.toml
  interop-datalake/interop-datalake.gradle.kts
  interop-datalake/src/it/kotlin/com/projectronin/interop/datalake/DatalakePublishServiceIT.kt
  interop-datalake/src/it/resources/logback.xml
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/oci/client/OCIClient.kt
Due: none

[INT-1099] Start Publishing to Datalake (#142)
  interop-publishers/interop-publishers.gradle.kts
  interop-publishers/src/main/kotlin/com/projectronin/interop/publishers/PublishService.kt
  interop-publishers/src/test/kotlin/com/projectronin/interop/publishers/PublishServiceTest.kt
Due: none

INT-1241: Update to support FHIR primitive changes (#137)
  gradle/libs.versions.toml
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PatientServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PractitionerServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PublishServiceIntegrationTest.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/LocationService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PatientService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtils.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/LocationServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PatientServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PublishServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtilsTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/DatalakePublishServiceTest.kt
  interop-kafka/src/it/kotlin/com/projectronin/interop/kafka/KafkaPublishServiceIT.kt
  interop-publishers/src/test/kotlin/com/projectronin/interop/publishers/PublishServiceTest.kt
Due: aidbox

Create snapshot publishing feature branch for Kafka
  .github/workflows/snapshot_publish.yml
Due: none

Remove Kafka from the Gradle release (#148)
  .github/workflows/kafka_integration_test.yml
  .github/workflows/kafka_test.yml
  gradle/libs.versions.toml
  settings.gradle.kts
Due: none

Ensure branch can merge to master when needed
  .github/workflows/kafka_integration_test.yml
  .github/workflows/kafka_test.yml
  gradle/libs.versions.toml
  settings.gradle.kts
Due: none

Upgrade interop-gradle versions (#149)
  settings.gradle.kts
Due: none

small changes to assist INT-1240 (#139)
  gradle/libs.versions.toml
  interop-kafka/interop-kafka.gradle.kts
  interop-kafka/src/it/kotlin/com/projectronin/interop/kafka/BaseKafkaIT.kt
  interop-kafka/src/it/kotlin/com/projectronin/interop/kafka/KafkaPublishServiceIT.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/client/KafkaClient.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/client/KafkaUtils.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/client/ProducerUtils.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/config/KafkaConfig.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/model/KafkaAction.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/model/KafkaTopic.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/model/PublishTopic.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/model/RetrieveTopic.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/client/KafkaClientTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/client/ProducerUtilsTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/client/config/SpringConfigTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/model/KafkaTopicTest.kt
  settings.gradle.kts
Due: none

[INT-1277] Downgrade from Jersey3 for proxy (#153)
  gradle/libs.versions.toml
Due: none

remove kafka for release (#154)
  gradle/libs.versions.toml
  settings.gradle.kts
Due: none

add kafka back (#155)
  gradle/libs.versions.toml
  settings.gradle.kts
Due: none

INT-1279: Update Aidbox to use new HttpClient wrapper (#152)
  gradle/libs.versions.toml
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AidboxAuthenticationService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/auth/AuthenticationServiceTest.kt
Due: aidbox

[INT-1288] Use new Ronin Code System from FHIR (#157)
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/PatientService.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/LocationServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PatientServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PractitionerServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PublishServiceIntegrationTest.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/LocationService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PatientService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtils.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/LocationServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PatientServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtilsTest.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/oci/client/OCIClient.kt
  interop-publishers/src/test/kotlin/com/projectronin/interop/publishers/PublishServiceTest.kt
Due: aidbox, aidbox-tc

add service annotation (#160)
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/DatalakePublishService.kt
Due: none

[INT-1229] Refactor to differentiate UDP and FHIR ID (#145)
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/LocationServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PatientServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PractitionerServiceIntegrationTest.kt
  interop-aidbox/src/it/resources/aidbox/practitioner/Practitioners.yaml
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/LocationService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PatientService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/model/AidboxIdentifiers.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtils.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/utils/GraphQLQueries.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/LocationServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PatientServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/model/AidboxIdentifiersTest.kt
Due: aidbox

use new version
  gradle/libs.versions.toml
Due: none

INT-1286: GHA to block PR merge when snapshots present (#161)
  .github/workflows/verify_mergeable.yml
Due: none

INT-1301: Add Spring annotation for base PublishService (#168)
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/AidboxPublishServiceIntegrationTest.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/AidboxPublishService.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/AidboxPublishServiceTest.kt
  interop-publishers/src/main/kotlin/com/projectronin/interop/publishers/PublishService.kt
  interop-publishers/src/test/kotlin/com/projectronin/interop/publishers/PublishServiceTest.kt
Due: aidbox

INT-1316: Parallelize OCI uploads (#169)
  interop-datalake/src/it/kotlin/com/projectronin/interop/datalake/DatalakePublishServiceIT.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/DatalakePublishService.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/DatalakePublishServiceTest.kt
Due: none

update datalake publish paths (#172)
  interop-datalake/src/it/kotlin/com/projectronin/interop/datalake/DatalakePublishServiceIT.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/DatalakePublishService.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/DatalakePublishServiceTest.kt
  interop-kafka/src/it/kotlin/com/projectronin/interop/kafka/KafkaPublishServiceIT.kt
Due: none

INT-1328: Add a Patient FHIR ID lookup (#175)
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PatientService.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PatientServiceTest.kt
Due: aidbox

INT-1287 - fhir.r4 package structure (#170)
  gradle/libs.versions.toml
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/AidboxPublishServiceIntegrationTest.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtils.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
  interop-kafka/src/it/kotlin/com/projectronin/interop/kafka/KafkaPublishServiceIT.kt
Due: aidbox

INT-1335: Modulardized Spring config (#177)
  gradle/libs.versions.toml
  interop-aidbox/interop-aidbox.gradle.kts
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/AidboxPublishServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/LocationServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PatientServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PractitionerServiceIntegrationTest.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/spring/AidboxSpringConfig.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/spring/AidboxSpringConfigTest.kt
  interop-datalake/interop-datalake.gradle.kts
  interop-datalake/src/it/kotlin/com/projectronin/interop/datalake/DatalakePublishServiceIT.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/spring/DatalakeSpringConfig.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/spring/DatalakeSpringConfigTest.kt
  interop-kafka/interop-kafka.gradle.kts
  interop-kafka/src/it/kotlin/com/projectronin/interop/kafka/BaseKafkaIT.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/client/KafkaClient.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/client/KafkaUtils.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/spring/KafkaConfig.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/spring/KafkaSpringConfig.kt
  interop-kafka/src/main/resources/application.properties
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/client/KafkaClientTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/client/ProducerUtilsTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/client/config/SpringConfigTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/spring/KafkaSpringConfigTest.kt
  interop-publishers/interop-publishers.gradle.kts
  interop-publishers/src/main/kotlin/com/projectronin/interop/publishers/spring/PublishersSpringConfig.kt
  interop-publishers/src/test/kotlin/com/projectronin/interop/publishers/spring/PublishersSpringConfigTest.kt
Due: aidbox

INT-1380: Upload JUnit results to DataDog (#181)
  .github/workflows/aidbox_integration_test.yml
  .github/workflows/aidbox_test.yml
  .github/workflows/aidbox_testcontainer_test.yml
  .github/workflows/datalake_integration_test.yml
  .github/workflows/datalake_test.yml
  .github/workflows/publishers_test.yml
  CODEOWNERS
Due: none

INT-1342: Add services for LOAD and PUBLISH kafka events (#184)
  gradle/libs.versions.toml
  interop-kafka/interop-kafka.gradle.kts
  interop-kafka/src/it/kotlin/com/projectronin/interop/kafka/KafkaPublishServiceIT.kt
  interop-kafka/src/it/kotlin/com/projectronin/interop/kafka/event/AppointmentEvent.kt
  interop-kafka/src/it/kotlin/com/projectronin/interop/kafka/event/PatientEvent.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/KafkaLoadService.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/KafkaPublishService.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/client/KafkaClient.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/model/KafkaAction.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/model/LoadTopic.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/model/PublishTopic.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/model/PushResponse.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/spring/LoadSpringConfig.kt
  interop-kafka/src/main/kotlin/com/projectronin/interop/kafka/spring/PublishSpringConfig.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/KafkaLoadServiceTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/KafkaPublishServiceTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/client/KafkaClientTest.kt
  interop-kafka/src/test/kotlin/com/projectronin/interop/kafka/spring/TopicConfigTest.kt
  interop-publishers/interop-publishers.gradle.kts
  interop-publishers/src/main/kotlin/com/projectronin/interop/publishers/PublishService.kt
  interop-publishers/src/main/kotlin/com/projectronin/interop/publishers/spring/PublishersSpringConfig.kt
  interop-publishers/src/test/kotlin/com/projectronin/interop/publishers/PublishServiceTest.kt
  interop-publishers/src/test/kotlin/com/projectronin/interop/publishers/spring/PublishersSpringConfigTest.kt
Due: none
