Repository The-Ronin-Project/interop-publishers: changes, and which Codecov flags are due for each by the changed paths.
All: aidbox, aidbox-tc

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      aidbox:
        target: auto
        threshold: 1%
        flags:
          - aidbox
      aidbox-testcontainer:
        target: auto
        threshold: 1%
        flags:
          - aidbox-tc

    patch:
      aidbox:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - aidbox
      aidbox-testcontainer:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - aidbox-tc

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null
  show_carryforward_flags: false

flags:
  aidbox:
    paths:
      - interop-aidbox/
    carryforward: true
  aidbox-tc:
    paths:
      - interop-aidbox-testcontainer/
    carryforward: true

Upgraded com.projectronin.interop.fhir:interop-fhir from 1.0.0-SNAPSHOT to 1.0.0 (#40)
  gradle/libs.versions.toml
Due: none

INT-561: Prepare for release (#41)
  .github/workflows/create_release.yml
  .github/workflows/snapshot_publish.yml
  build.gradle.kts
  settings.gradle.kts
Due: none

INT-561: Include Aidbox license during release build step (#42)
  .github/workflows/create_release.yml
Due: none

INT-628: Add support for marking the next release version (#43)
  .github/workflows/mark_next_release.yml
Due: none

Int 560 uplift to ktor 2 x (#44)
  build.gradle.kts
  gradle/libs.versions.toml
  interop-aidbox-testcontainer/interop-aidbox-testcontainer.gradle.kts
  interop-aidbox-testcontainer/src/main/kotlin/com/projectronin/interop/aidbox/testcontainer/container/AidboxContainer.kt
  interop-aidbox-testcontainer/src/main/kotlin/com/projectronin/interop/aidbox/testcontainer/extension/AidboxExtension.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/AidboxClient.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/PatientService.kt
  interop-aidbox/interop-aidbox.gradle.kts
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PublishServiceIntegrationTest.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PatientService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AidboxAuthenticationService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtils.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PatientServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/auth/AuthenticationServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtilsTest.kt
  settings.gradle.kts
Due: aidbox, aidbox-tc

Add resource retrieval for patients and practitioners (#45)
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PatientServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PractitionerServiceIntegrationTest.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PatientService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PatientServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
Due: aidbox

INT-658: Remove old dependency-providing Gradle plugins (#46)
  .github/workflows/mark_next_release.yml
  .github/workflows/upgrade_dependencies.yml
  build.gradle.kts
  gradle/libs.versions.toml
  interop-aidbox/interop-aidbox.gradle.kts
  interop-publishers/interop-publishers.gradle.kts
  settings.gradle.kts
Due: aidbox

Correct a dependency scope to prevent downstream errors (#47)
  interop-aidbox-testcontainer/interop-aidbox-testcontainer.gradle.kts
Due: aidbox-tc

INT-712: Ensure proper use of ktor when retrieving raw String (#51)
  interop-aidbox-testcontainer/src/main/kotlin/com/projectronin/interop/aidbox/testcontainer/container/AidboxContainer.kt
  interop-aidbox-testcontainer/src/main/kotlin/com/projectronin/interop/aidbox/testcontainer/extension/AidboxExtension.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/PatientService.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PublishServiceIntegrationTest.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtils.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PatientServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtilsTest.kt
Due: aidbox, aidbox-tc

BUG-INT-733: Provider and Patient identifier services now enforce tenant matching (#52)
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PatientServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PractitionerServiceIntegrationTest.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PatientService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/exception/InvalidTenantAccessException.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtils.kt
  interop-aidbox/src/main/resources/graphql/AidboxLimitedPractitionerIDsQuery.graphql
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PatientServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtilsTest.kt
Due: aidbox

[INT-762] Aidbox GraphQL Error Responses are handled appropriately (#54)
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PatientService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PatientServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
  interop-aidbox/src/test/resources/FailedPatientQuery.json
  interop-aidbox/src/test/resources/FailedPractitionerQuery.json
Due: aidbox

INT-768 - adjust to FHIR validation update (#58)
  gradle/libs.versions.toml
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/model/fhir/datatype/BundleEntryTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/model/fhir/resource/BundleTest.kt
Due: aidbox

Fix Aidbox ITs (#62)
  gradle/libs.versions.toml
  interop-aidbox-testcontainer/interop-aidbox-testcontainer.gradle.kts
  interop-aidbox-testcontainer/src/main/kotlin/com/projectronin/interop/aidbox/testcontainer/container/AidboxContainer.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PublishServiceIntegrationTest.kt
Due: aidbox, aidbox-tc

INT-693 observation load (#59)
  gradle/libs.versions.toml
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PatientServiceIntegrationTest.kt
  interop-aidbox/src/it/resources/aidbox/patient/Patients.yaml
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PatientService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/resources/graphql/PatientListQuery.graphql
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PatientServiceTest.kt
Due: aidbox

Update defaults for Aidbox clients to match our defaults elsewhere (#66)
  interop-aidbox-testcontainer/src/main/kotlin/com/projectronin/interop/aidbox/testcontainer/container/AidboxContainer.kt
Due: aidbox-tc

update PR Template (#67)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Updates to be compatible with HttpSpringConfig changes in interop-common (#69)
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AidboxAuthenticationService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/auth/AuthenticationServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
Due: aidbox

INT-827: Prepare for refactor branch (#70)
  .github/workflows/aidbox_integration_test.yml
  .github/workflows/aidbox_test.yml
  .github/workflows/aidbox_testcontainer_test.yml
  .github/workflows/lint.yml
  .github/workflows/publishers_test.yml
  .github/workflows/snapshot_publish.yml
Due: none

INT-817: Updates to match FHIR refactor (#71)
  gradle/libs.versions.toml
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PatientServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PractitionerServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PublishServiceIntegrationTest.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PatientService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PublishService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/model/fhir/datatype/BundleEntry.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/model/fhir/resource/Bundle.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/model/fhir/resource/Resource.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtils.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PatientServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PublishServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/model/fhir/datatype/BundleEntryTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/model/fhir/resource/BundleTest.kt
  interop-publishers/src/main/kotlin/com/projectronin/interop/publishers/PublishService.kt
  interop-publishers/src/test/kotlin/com/projectronin/interop/publishers/PublishServiceTest.kt
Due: aidbox

use new FHIR models
  gradle/libs.versions.toml
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PatientService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PublishService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/model/fhir/datatype/BundleEntry.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/model/fhir/resource/Bundle.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/model/fhir/resource/Resource.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtils.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PatientServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PublishServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/model/fhir/datatype/BundleEntryTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/model/fhir/resource/BundleTest.kt
  interop-publishers/src/main/kotlin/com/projectronin/interop/publishers/PublishService.kt
  interop-publishers/src/test/kotlin/com/projectronin/interop/publishers/PublishServiceTest.kt
Due: aidbox

fix integration tests
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PublishServiceIntegrationTest.kt
Due: aidbox

[INT-165] add datalake module (#74)
  .github/workflows/datalake_test.yml
  codecov.yml
  gradle/libs.versions.toml
  interop-datalake/interop-datalake.gradle.kts
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/PublishService.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/azure/auth/AzureAuthentication.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/azure/auth/AzureAuthenticationBroker.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/azure/auth/AzureAuthenticationService.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/azure/auth/AzureCredentials.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/azure/client/AzureClient.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/PublishServiceTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/azure/auth/AzureAuthenticationBrokerTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/azure/auth/AzureAuthenticationServiceTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/azure/auth/AzureAuthenticationTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/azure/auth/AzureCredentialsTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/azure/client/AzureClientTest.kt
  settings.gradle.kts
Due: none

Update to use new interop-common-http exceptions (#76)
  gradle/libs.versions.toml
  interop-aidbox/interop-aidbox.gradle.kts
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PatientServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PublishServiceIntegrationTest.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PatientService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PublishService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtils.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PatientServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtilsTest.kt
  settings.gradle.kts
Due: aidbox

INT-164 - adjust path format to DP needs, publish API JSON (#77)
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/PublishService.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/PublishServiceTest.kt
Due: none

Update refactor with master (#82)
  .github/workflows/datalake_test.yml
  codecov.yml
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  interop-datalake/interop-datalake.gradle.kts
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/PublishService.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/azure/auth/AzureAuthentication.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/azure/auth/AzureAuthenticationBroker.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/azure/auth/AzureAuthenticationService.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/azure/auth/AzureCredentials.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/azure/client/AzureClient.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/PublishServiceTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/azure/auth/AzureAuthenticationBrokerTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/azure/auth/AzureAuthenticationServiceTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/azure/auth/AzureAuthenticationTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/azure/auth/AzureCredentialsTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/azure/client/AzureClientTest.kt
  settings.gradle.kts
Due: none

*** [INT-803] MERGE REFACTOR ***
  gradle/libs.versions.toml
  interop-aidbox/interop-aidbox.gradle.kts
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PatientServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PractitionerServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PublishServiceIntegrationTest.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PatientService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PublishService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/model/fhir/datatype/BundleEntry.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/model/fhir/resource/Bundle.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/model/fhir/resource/Resource.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtils.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PatientServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PublishServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/model/fhir/datatype/BundleEntryTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/model/fhir/resource/BundleTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtilsTest.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/PublishService.kt
  interop-publishers/src/main/kotlin/com/projectronin/interop/publishers/PublishService.kt
  interop-publishers/src/test/kotlin/com/projectronin/interop/publishers/PublishServiceTest.kt
  settings.gradle.kts
Due: aidbox

INT-163 - publish hl7v2 to datalake (#84)
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/PublishService.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/hl7/HL7Utils.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/PublishServiceTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/azure/hl7/HL7UtilsTest.kt
Due: none

dont use snapshot (#87)
  gradle/libs.versions.toml
Due: none

INT-974: Updates for FHIR loosening (#88)
  gradle/libs.versions.toml
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PatientServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PractitionerServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PublishServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/util/CodedEnumUtil.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PatientService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtils.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PatientServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PublishServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtilsTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/utils/CodedEnumUtil.kt
  interop-publishers/src/test/kotlin/com/projectronin/interop/publishers/PublishServiceTest.kt
Due: aidbox

INT-1016 - publish good list items before an exception for bad (#86)
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/PublishService.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/PublishServiceTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/azure/hl7/HL7UtilsTest.kt
Due: none

helper function to grab a concept map from Aidbox (#92)
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/ConceptMapService.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/ConceptMapServiceTest.kt
Due: aidbox

Update publishFHIRResources to publish to the datalake after a succes… (#90)
  interop-publishers/interop-publishers.gradle.kts
  interop-publishers/src/main/kotlin/com/projectronin/interop/publishers/PublishService.kt
  interop-publishers/src/main/kotlin/com/projectronin/interop/publishers/exception/AidboxPublishException.kt
  interop-publishers/src/main/kotlin/com/projectronin/interop/publishers/exception/DatalakePublishException.kt
  interop-publishers/src/test/kotlin/com/projectronin/interop/publishers/PublishServiceTest.kt
Due: none

Upgrade interop-common to 3.0.1 (#100)
  gradle/libs.versions.toml
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
Due: aidbox

publishers PublishService to not use datalake (#102)
  gradle/libs.versions.toml
  interop-publishers/src/main/kotlin/com/projectronin/interop/publishers/PublishService.kt
  interop-publishers/src/main/kotlin/com/projectronin/interop/publishers/exception/DatalakePublishException.kt
  interop-publishers/src/test/kotlin/com/projectronin/interop/publishers/PublishServiceTest.kt
Due: none

[INT-1098] Move from Azure to OCI (#104)
  gradle/libs.versions.toml
  interop-datalake/interop-datalake.gradle.kts
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/PublishService.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/azure/auth/AzureAuthentication.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/azure/auth/AzureAuthenticationBroker.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/azure/auth/AzureAuthenticationService.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/azure/auth/AzureCredentials.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/azure/client/AzureClient.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/oci/auth/OCICredentials.kt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/oci/client/OCIClient.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/PublishServiceTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/azure/auth/AzureAuthenticationBrokerTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/azure/auth/AzureAuthenticationServiceTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/azure/auth/AzureAuthenticationTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/azure/auth/AzureCredentialsTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/azure/client/AzureClientTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/hl7/HL7UtilsTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/oci/auth/OCICredentialsTest.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/oci/client/OCIClientTest.kt
Due: none

INT-1105: Switch to OkHttp engine (#108)
  gradle/libs.versions.toml
  interop-aidbox-testcontainer/interop-aidbox-testcontainer.gradle.kts
  interop-aidbox-testcontainer/src/main/kotlin/com/projectronin/interop/aidbox/testcontainer/container/AidboxContainer.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/AidboxClient.kt
  interop-aidbox/interop-aidbox.gradle.kts
Due: aidbox, aidbox-tc

BUG- Rename oci publish service class to avoid Spring bean conflicts (#112)
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/DatalakePublishService.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/DatalakePublishServiceTest.kt
  interop-publishers/interop-publishers.gradle.kts
Due: none

INT-886 get location fhir ids by dept. identifier (#109)
  gradle/libs.versions.toml
  interop-aidbox-testcontainer/interop-aidbox-testcontainer.gradle.kts
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/LocationServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PatientServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PractitionerServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PublishServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/util/CodedEnumUtil.kt
  interop-aidbox/src/it/resources/aidbox/location/Locations.yaml
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/LocationService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PatientService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtils.kt
  interop-aidbox/src/main/resources/graphql/AidboxLocationFHIRIDsQuery.graphql
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/LocationServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PatientServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtilsTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/utils/CodedEnumUtil.kt
  interop-publishers/src/test/kotlin/com/projectronin/interop/publishers/PublishServiceTest.kt
Due: aidbox, aidbox-tc

Upgrade gradle plugin versions (#114)
  settings.gradle.kts
Due: none

INT-1100: POC for Datalake ITs (#115)
  .github/workflows/aidbox_test.yml
  .github/workflows/aidbox_testcontainer_test.yml
  .github/workflows/datalake_integration_test.yml
  .github/workflows/datalake_test.yml
  .github/workflows/lint.yml
  .github/workflows/publishers_test.yml
  .github/workflows/snapshot_publish.yml
  gradle/libs.versions.toml
  interop-datalake/interop-datalake.gradle.kts
  interop-datalake/src/it/kotlin/com/projectronin/interop/datalake/DatalakePublishServiceIT.kt
  interop-datalake/src/it/resources/ExamplePEMPrivateKey.txt
  interop-datalake/src/main/kotlin/com/projectronin/interop/datalake/DatalakePublishService.kt
  interop-datalake/src/test/kotlin/com/projectronin/interop/datalake/DatalakePublishServiceTest.kt
  settings.gradle.kts
Due: none
