Repository The-Ronin-Project/interop-publishers: changes, and which Codecov flags are due for each by the changed paths.
All: aidbox, aidbox-tc

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      aidbox:
        target: auto
        threshold: 1%
        flags:
          - aidbox
      aidbox-testcontainer:
        target: auto
        threshold: 1%
        flags:
          - aidbox-tc

    patch:
      aidbox:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - aidbox
      aidbox-testcontainer:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - aidbox-tc

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null
  show_carryforward_flags: false

flags:
  aidbox:
    paths:
      - interop-aidbox/
    carryforward: true
  aidbox-tc:
    paths:
      - interop-aidbox-testcontainer/
    carryforward: true

Bring over old service for use in testing TC
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/AidboxContainerClassDataTest.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/AidboxContainerMethodDataTest.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/AidboxClient.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/PatientService.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/graphql/GraphQLError.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/graphql/GraphQLErrorLocation.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/graphql/GraphQLPostRequest.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/graphql/GraphQLResponse.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/model/AidboxAddress.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/model/AidboxContactPoint.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/model/AidboxHumanName.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/model/AidboxIdentifier.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/model/AidboxPatient.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/model/AidboxPatientList.kt
Due: aidbox-tc

Fixes per review (set 2 of 3)
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtilsTest.kt
Due: aidbox

Fixes per review (set 3 of 4)
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
Due: aidbox

Add missing graphql file
  interop-aidbox-testcontainer/src/test/resources/graphql/FindPatient.graphql
Due: aidbox-tc

PatientService publish() calls AidboxClient.batchUpsert()
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PublishService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PublishServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
Due: aidbox

nit
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
Due: aidbox

Mocking fixes
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PublishService.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PublishServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
Due: aidbox

INT-275: Add Authentication logic for Aidbox (#4)
  gradle.properties
  interop-aidbox/interop-aidbox.gradle.kts
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PublishService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AidboxAuthentication.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AidboxCredentials.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AuthenticationBroker.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AuthenticationService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/auth/AuthenticationBrokerTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/auth/AuthenticationServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
Due: aidbox

INT-280: Uplift to Gradle 7.2 and reorder plugin repos (#5)
  .github/workflows/lint.yml
  gradle/wrapper/gradle-wrapper.properties
  settings.gradle.kts
Due: none

PublishService and AidboxClient (#6)
  .gitignore
  gradle.properties
  interop-aidbox/interop-aidbox.gradle.kts
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PublishService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PublishServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
  interop-aidbox/src/test/resources/json/AidboxPractitionerList.json
Due: aidbox

INT-333: Add CODEOWNERS (#7)
  CODEOWNERS
Due: none

INT-323 update publish for publishers (#9)
  interop-aidbox/interop-aidbox.gradle.kts
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
Due: aidbox

INT-334: Update interop-fhir groupId (#10)
  gradle.properties
  interop-aidbox/interop-aidbox.gradle.kts
Due: aidbox

Int 324 practitioner retrieval from aidbox (#11)
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/model/GraphQLError.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/model/GraphQLPostRequest.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/model/GraphQLResponse.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtils.kt
  interop-aidbox/src/main/resources/graphql/AidboxLimitedPractitionerIDsQuery.graphql
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtilsTest.kt
  interop-aidbox/src/test/resources/graphql/AidboxLimitedPractitionerIDsQuery.graphql
Due: aidbox

Fix GHA for Aidbox (#13)
  .github/workflows/aidbox_testcontainer_test.yml
Due: none

INT-363: Use axion-release for versions (#14)
  CODEOWNERS
  build.gradle.kts
  gradle.properties
  settings.gradle.kts
Due: none

INT-342 Improve Logging Publisher (#15)
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PublishService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AuthenticationBroker.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AuthenticationService.kt
Due: aidbox

INT-374: Create PublishService capable of feeding to downstream repositories (#16)
  .github/workflows/publishers_test.yml
  codecov.yml
  interop-publishers/README.md
  interop-publishers/interop-publishers.gradle.kts
  interop-publishers/src/main/kotlin/com/projectronin/interop/publishers/PublishService.kt
  interop-publishers/src/test/kotlin/com/projectronin/interop/publishers/PublishServiceTest.kt
  settings.gradle.kts
Due: none

INT-364 Add Spring config/components etc to interop-aidbox (#17)
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AidboxCredentials.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AuthenticationBroker.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AuthenticationService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/config/AidboxConfig.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/config/AidboxConfigTest.kt
Due: aidbox

Use specific qualifier for auth broker (#18)
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AuthenticationBroker.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
Due: aidbox

use Qualifier (#19)
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AuthenticationBroker.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/config/AidboxConfig.kt
Due: aidbox

revert to original, since Qualifier approach not working. (#20)
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AuthenticationBroker.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AuthenticationService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/config/AidboxConfig.kt
Due: aidbox

Update query to return text and system. Also, delete duplicative file. (#22)
  interop-aidbox/src/main/resources/graphql/AidboxLimitedPractitionerIDsQuery.graphql
  interop-aidbox/src/test/resources/graphql/AidboxLimitedPractitionerIDsQuery.graphql
Due: aidbox

INT-386: Update class naming to reduce Spring confusion. (#25)
  README.md
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AidboxAuthenticationBroker.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AidboxAuthenticationService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/config/AidboxConfig.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/auth/AuthenticationBrokerTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/auth/AuthenticationServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/config/AidboxConfigTest.kt
Due: aidbox

Int 346 load patients from aidbox for appointments (#23)
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PatientService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/model/SystemValue.kt
  interop-aidbox/src/main/resources/graphql/AidboxPatientFHIRIDsQuery.graphql
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PatientServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/model/SystemValueTest.kt
Due: aidbox

INT-345 Load All Practitioners for a given tenant (#24)
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/resources/graphql/PractitionerListQuery.graphql
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
Due: aidbox

INT-351 get Provider FHIR IDs from Aidbox (#27)
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/resources/graphql/AidboxPractitionerFHIRIDsQuery.graphql
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
Due: aidbox

INT-388: Add Aidbox integration tests (#26)
  .github/workflows/aidbox_integration_test.yml
  build.gradle.kts
  interop-aidbox-testcontainer/interop-aidbox-testcontainer.gradle.kts
  interop-aidbox-testcontainer/src/main/kotlin/com/projectronin/interop/aidbox/testcontainer/container/AidboxContainer.kt
  interop-aidbox/README.md
  interop-aidbox/interop-aidbox.gradle.kts
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PatientServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PractitionerServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PublishServiceIntegrationTest.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/spring/AidboxIntegrationConfig.kt
  interop-aidbox/src/it/resources/aidbox/patient/Patients.yaml
  interop-aidbox/src/it/resources/aidbox/practitioner/Practitioners.yaml
  interop-aidbox/src/it/resources/aidbox/publish/PractitionerToUpdate.yaml
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PatientService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PublishService.kt
  settings.gradle.kts
Due: aidbox, aidbox-tc

INT-367: Move to Nexus (#28)
  .github/workflows/aidbox_integration_test.yml
  .github/workflows/aidbox_test.yml
  .github/workflows/aidbox_testcontainer_test.yml
  .github/workflows/lint.yml
  .github/workflows/publishers_test.yml
  .github/workflows/snapshot_publish.yml
  interop-aidbox-testcontainer/interop-aidbox-testcontainer.gradle.kts
  interop-aidbox-testcontainer/src/main/resources/testcontainers.properties
  interop-aidbox/interop-aidbox.gradle.kts
  settings.gradle.kts
Due: aidbox, aidbox-tc

INT-441: Upgrade to JDK 17 and Gradle 7.4.1 (#30)
  .github/workflows/aidbox_integration_test.yml
  .github/workflows/aidbox_test.yml
  .github/workflows/aidbox_testcontainer_test.yml
  .github/workflows/lint.yml
  .github/workflows/publishers_test.yml
  .github/workflows/snapshot_publish.yml
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: none

INT-430 publish resources with references (#29)
  interop-aidbox-testcontainer/src/main/kotlin/com/projectronin/interop/aidbox/testcontainer/container/AidboxContainer.kt
  interop-aidbox-testcontainer/src/test/kotlin/com/projectronin/interop/aidbox/testcontainer/client/AidboxClient.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PublishServiceIntegrationTest.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PublishService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/model/fhir/datatype/BundleEntry.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/model/fhir/resource/Bundle.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/model/fhir/resource/Resource.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/utils/AidboxUtils.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PublishServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/client/AidboxClientTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/model/fhir/datatype/BundleEntryTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/model/fhir/resource/BundleTest.kt
  interop-publishers/src/main/kotlin/com/projectronin/interop/publishers/PublishService.kt
  interop-publishers/src/test/kotlin/com/projectronin/interop/publishers/PublishServiceTest.kt
Due: aidbox, aidbox-tc

Overwrite toString to prevent data leaks (#32)
  interop-aidbox-testcontainer/src/main/kotlin/com/projectronin/interop/aidbox/testcontainer/container/AidboxContainer.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AidboxAuthentication.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/auth/AidboxCredentials.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/auth/AidboxAuthenticationTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/auth/AidboxCredentialsTest.kt
Due: aidbox, aidbox-tc

INT-430 - code cleanup for PR #29 (#31)
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PublishServiceIntegrationTest.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PublishService.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PublishServiceTest.kt
  interop-publishers/src/test/kotlin/com/projectronin/interop/publishers/PublishServiceTest.kt
Due: aidbox

PublishService it for Appointment (#33)
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PublishServiceIntegrationTest.kt
Due: aidbox

INT-484: Update tests to include DynamicValues (#34)
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PublishServiceIntegrationTest.kt
Due: aidbox

INT-457: Batched identifier calls to aidbox. (#35)
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PatientService.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/PractitionerService.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PatientServiceTest.kt
  interop-aidbox/src/test/kotlin/com/projectronin/interop/aidbox/PractitionerServiceTest.kt
Due: aidbox

INT-466: Add release workflow (#36)
  .github/workflows/create_release.yml
Due: none

INT-524: Ignore reference validation in Aidbox (#37)
  .github/workflows/aidbox_integration_test.yml
  .github/workflows/aidbox_testcontainer_test.yml
  interop-aidbox-testcontainer/src/main/kotlin/com/projectronin/interop/aidbox/testcontainer/container/AidboxContainer.kt
  interop-aidbox-testcontainer/src/main/kotlin/com/projectronin/interop/aidbox/testcontainer/container/AidboxDatabaseContainer.kt
  interop-aidbox/src/it/kotlin/com/projectronin/interop/aidbox/PublishServiceIntegrationTest.kt
  interop-aidbox/src/main/kotlin/com/projectronin/interop/aidbox/client/AidboxClient.kt
Due: aidbox, aidbox-tc

INT-531: Use Version Catalogs and add dependabot-like support (#38)
  .github/workflows/upgrade_dependencies.yml
  build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  interop-aidbox-testcontainer/interop-aidbox-testcontainer.gradle.kts
  interop-aidbox/interop-aidbox.gradle.kts
  interop-publishers/interop-publishers.gradle.kts
  settings.gradle.kts
Due: aidbox, aidbox-tc

Upgraded dependencies for groupId com.projectronin.interop (#39)
  gradle/libs.versions.toml
Due: none
